.profile-page {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Top Profile Card */
.profile-card {
  display: flex;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  align-items: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-card h2 {
  margin-bottom: 5px;
}

.profile-card p {
  color: #555;
  font-size: 14px;
}

.edit-btn {
  margin-top: 10px;
  padding: 8px 16px;
  background: #2874f0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Options Section */
.profile-options {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
}

.option-card {
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
}

.option-card:hover {
  background: #f5f7ff;
}

.logout {
  color: red;
}
